.upgrade-landing-page
    .row
        .col-md-6
            .prechecks.pull-left
                crowbar-circle.active 1
                .h4.text-center(translate='') upgrade.steps.landing.prechecks.title

                p(translate='') upgrade.steps.landing.prechecks.description
                crowbar-checklist(checklist='upgradeLandingVm.prechecks.checks', completed='upgradeLandingVm.prechecks.completed')

                button.btn.btn-primary(
                    ng-disabled="upgradeLandingVm.prechecks.running",
                    ng-class="{'spinner-visible': upgradeLandingVm.prechecks.spinnerVisible,\
                                active: upgradeLandingVm.prechecks.running}",
                    ng-click="upgradeLandingVm.prechecks.runPrechecks()"
                )
                    suse-lazy-spinner(delay="2000", active="upgradeLandingVm.prechecks.running",
                    visible="upgradeLandingVm.prechecks.spinnerVisible")
                    span(translate='') upgrade.steps.landing.prechecks.form.check-again

            .upgrade.pull-left(ng-class="{'active': upgradeLandingVm.mode.valid}")
                crowbar-circle(ng-class="{'active': upgradeLandingVm.mode.valid}") 3
                .h4.text-center(translate='') upgrade.steps.landing.upgrade.title
                p(translate='') upgrade.steps.landing.upgrade.description
                button.btn.btn-primary(
                    ng-disabled="!upgradeLandingVm.prechecks.completed || !upgradeLandingVm.prechecks.valid || upgradeLandingVm.prepare.running || !upgradeLandingVm.mode.valid",
                    ng-class="{'spinner-visible': upgradeLandingVm.prepare.spinnerVisible, active: upgradeLandingVm.prepare.running}",
                    ng-click="upgradeLandingVm.beginUpgrade()"
                )
                    suse-lazy-spinner(delay="2000", active="upgradeLandingVm.prepare.running", visible="upgradeLandingVm.prepare.spinnerVisible")
                    span(translate='') upgrade.steps.landing.form.button
        .col-md-6
            .mode.pull-left(ng-class="{'active': upgradeLandingVm.prechecks.valid}")
                crowbar-circle(ng-class="{'active': upgradeLandingVm.mode.active}") 2
                .h4.text-center(translate='') upgrade.steps.landing.mode.title

                .initial(ng-if='upgradeLandingVm.mode.type === false')
                    p(translate='') upgrade.steps.landing.mode.description

                .normal(ng-if='upgradeLandingVm.mode.type === "disruptive"')
                    strong
                        p(translate='') upgrade.steps.landing.mode.normal.title
                    button.btn.btn-primary(
                        ng-disabled="upgradeLandingVm.mode.type != 'disruptive' || upgradeLandingVm.mode.valid",
                        ng-click="upgradeLandingVm.continueNormal()"
                    )
                        span(translate='') upgrade.steps.landing.mode.normal.button
                    p(translate='') upgrade.steps.landing.mode.normal.description1
                    p(translate='') upgrade.steps.landing.mode.normal.description2
                    p(translate='') upgrade.steps.landing.mode.normal.description3

                .nondisruptive(ng-if='upgradeLandingVm.mode.type === "non-disruptive"')
                    strong
                        p(translate='') upgrade.steps.landing.mode.nondisruptive.title
                    p(translate='') upgrade.steps.landing.mode.nondisruptive.description1
                    p(translate='') upgrade.steps.landing.mode.nondisruptive.description2
