.upgrade-landing-page
    .row
        .col-md-6
            .prechecks.pull-left
                crowbar-circle.active 1
                .h4.text-center(translate='') upgrade.steps.landing.prechecks.title

                p(translate='') upgrade.steps.landing.prechecks.description
                crowbar-checklist(checklist='upgradeLandingVm.prechecks.checks', completed='upgradeLandingVm.prechecks.completed')

                button.btn.btn-success(
                ng-disabled="upgradeLandingVm.prechecks.running",
                ng-class="{\
                        'spinner-visible': upgradeLandingVm.prechecks.spinnerVisible,\
                        active: upgradeLandingVm.prechecks.running\
                    }",
                ng-click="upgradeLandingVm.prechecks.runPrechecks()"
                )
                    suse-lazy-spinner(delay="2000", active="upgradeLandingVm.prechecks.running",
                    visible="upgradeLandingVm.prechecks.spinnerVisible")
                    span(translate='') upgrade.steps.landing.prechecks.form.check-again

            .upgrade.pull-left(ng-class="{'active': upgradeLandingVm.mode.valid, 'inactive': !upgradeLandingVm.mode.valid}")
                crowbar-circle(ng-class="{'active': upgradeLandingVm.mode.valid}") 3
                .h4.text-center(translate='') upgrade.steps.landing.upgrade.title
                p(translate='') upgrade.steps.landing.upgrade.description
                button.btn.btn-success(
                    ng-disabled="!upgradeLandingVm.prechecks.completed || !upgradeLandingVm.prechecks.valid || upgradeLandingVm.prepare.running || !upgradeLandingVm.mode.valid",
                    ng-class="{'spinner-visible': upgradeLandingVm.prepare.spinnerVisible, active: upgradeLandingVm.prepare.running}",
                    ng-click="upgradeLandingVm.beginUpgrade()"
                )
                    suse-lazy-spinner(delay="2000", active="upgradeLandingVm.prepare.running",
                    visible="upgradeLandingVm.prepare.spinnerVisible")
                    span(translate='') upgrade.steps.landing.form.button
        .col-md-6
            .mode.pull-left(ng-class="{'active': upgradeLandingVm.mode.active, 'inactive': !upgradeLandingVm.mode.valid}")
                crowbar-circle(ng-class="{'active': upgradeLandingVm.mode.active}") 2
                .h4.text-center(translate='') upgrade.steps.landing.mode.title
                .initial
                    p(
                        translate='',
                        ng-show='upgradeLandingVm.mode.type == nil'
                    ) upgrade.steps.landing.mode.description
                .normal
                    strong
                        p(
                            translate='',
                            ng-show='upgradeLandingVm.mode.type == "none"'
                        ) upgrade.steps.landing.mode.normal.title
                    button.btn.btn-success(
                        ng-disabled="upgradeLandingVm.mode.type != 'none' || upgradeLandingVm.mode.valid",
                        ng-show="upgradeLandingVm.mode.type == 'none'"
                        ng-click="upgradeLandingVm.continueNormal()"
                    )
                        span(translate='') upgrade.steps.landing.mode.normal.button
                    p(
                        translate='',
                        ng-show='upgradeLandingVm.mode.type == "none"'
                    ) upgrade.steps.landing.mode.normal.description
                .nondisruptive
                    strong
                        p(
                            translate='',
                            ng-show='upgradeLandingVm.mode.type == "non-disruptive"'
                        ) upgrade.steps.landing.mode.nondisruptive.title
                    p(
                        translate='',
                        ng-show='upgradeLandingVm.mode.type == "non-disruptive"'
                    ) upgrade.steps.landing.mode.nondisruptive.description