.upgrade-nodes-page
    h2(translate='') upgrade.steps.upgrade-nodes.title
    p(translate='') upgrade.steps.upgrade-nodes.description
    button.btn.btn-success.center-block(
        ng-click="upgradeNodesVm.nodesUpgrade.beginUpgradeNodes()",
        ng-disabled="upgradeNodesVm.nodesUpgrade.completed || upgradeNodesVm.nodesUpgrade.running",
        ng-class="{\
            'spinner-visible': upgradeNodesVm.nodesUpgrade.spinnerVisible,\
            active: upgradeNodesVm.nodesUpgrade.running\
        }",
    )
        suse-lazy-spinner(delay="2000", active="upgradeNodesVm.nodesUpgrade.running",
            visible="upgradeNodesVm.nodesUpgrade.spinnerVisible")
        span(translate='') upgrade.steps.upgrade-nodes.form.upgrade-nodes

    uib-progressbar(ng-if="upgradeNodesVm.nodesUpgrade.totalNodes > 0", max="upgradeNodesVm.nodesUpgrade.totalNodes" value="upgradeNodesVm.nodesUpgrade.upgradedNodes")
        .progress-label.text-center(translate='upgrade.steps.upgrade-nodes.status.progress-bar',
            translate-values='{current: upgradeNodesVm.nodesUpgrade.upgradedNodes, total: upgradeNodesVm.nodesUpgrade.totalNodes}'
        )
    .row(ng-if="upgradeNodesVm.nodesUpgrade.currentAction")
        .col-md-8.col-md-offset-4
            .upgrade-progress(
                translate='upgrade.steps.upgrade-nodes.status.current-action',
                translate-values='{"action": upgradeNodesVm.nodesUpgrade.currentAction}'
            )
    .row(ng-if="upgradeNodesVm.nodesUpgrade.currentNodes.length === 1")
        .col-md-8.col-md-offset-4
            .upgrade-progress(
                title='{{upgradeNodesVm.nodesUpgrade.currentNodes[0].ip}}',
                translate='upgrade.steps.upgrade-nodes.status.current-node',
                translate-values='upgradeNodesVm.nodesUpgrade.currentNodes[0]'
            )
        .col-md-8.col-md-offset-4
            .upgrade-progress(
                translate='upgrade.steps.upgrade-nodes.status.node-role',
                translate-values='upgradeNodesVm.nodesUpgrade.currentNodes[0]'
            )
        .col-md-8.col-md-offset-4
            .upgrade-progress(
                translate='upgrade.steps.upgrade-nodes.status.node-status',
                translate-values='upgradeNodesVm.nodesUpgrade.currentNodes[0]'
            )
    .row(ng-if="upgradeNodesVm.nodesUpgrade.currentNodes.length > 1")
        .col-md-8.col-md-offset-4(translate='') upgrade.steps.upgrade-nodes.status.current-nodes
    .row(ng-if="upgradeNodesVm.nodesUpgrade.currentNodes.length > 1",
        ng-repeat="currentNode in upgradeNodesVm.nodesUpgrade.currentNodes | limitTo:upgradeNodesVm.nodesUpgrade.maxDisplayNodes")
        .col-md-8.col-md-offset-4
            .multi-node-line(
                title='{{currentNode.ip}}',
                translate='upgrade.steps.upgrade-nodes.status.multi-nodes-line',
                translate-values='currentNode'
            )
    .row(ng-if="upgradeNodesVm.nodesUpgrade.currentNodes.length > upgradeNodesVm.nodesUpgrade.maxDisplayNodes")
        .col-md-8.col-md-offset-4
            .multi-node-line(
                translate='upgrade.steps.upgrade-nodes.status.more-line',
                translate-values='{"totalCount": upgradeNodesVm.nodesUpgrade.currentNodes.length,\
                    "moreCount": upgradeNodesVm.nodesUpgrade.currentNodes.length - upgradeNodesVm.nodesUpgrade.maxDisplayNodes\
                }'
            )
suse-modal(error="upgradeNodesVm.nodesUpgrade.errors", translation-prefix="upgrade.errors")
